---

---

<div class="debug-banner">
    {__GIT_COMMIT_HASH__}
</div>

<style>
    .debug-banner {
        width: 100%;
        text-align: center;
        font-size: 0.75rem;
        opacity: 0.5;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        font-family: monospace;
    }
</style>
