name: Playwright Tests

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  playwright:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v4.2.0
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npm run test

      - name: Upload Playwright report
        uses: actions/upload-artifact@ea0a2d401c3e7055c9b1d9e7495466b3f7b9ded2 # v4.6.0
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
